/* 

skew -> tilting an element along the X and Y axis
transform: skew(45deg, 45deg) -> syntax
skew(ax, by);
skew(ax) -> skew(ax, 0)
skew(by) -> skew(0, by)
skewX(ax) -> skew(ax, 0)
skewY(by) -> skew(0, by)
ax, ay = angle -> degrees, gradians, turns, radians

See: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/skew

*/

.wrapper {
  width: 300px;
  height: 300px;
  border: 1px dashed red;
  margin: 0 auto;
}

.inner {
  width: 300px;
  height: 300px;
  border: 1px solid black;

  /* Degrees */
  transform: skew(4deg, 4deg);
  transform: skew(4deg);
  transform: skew(0, 4deg);
  transform: skewX(4deg);
  transform: skewY(4deg);
}
