/* 
Steps to create an animation effect:

(Questions before starting)
- What are the elements that will be animated? (buttons, links, images, etc.) (Create structure)
- What is the effect we want to create? (Decide the effect)
- How animation will be triggered? (hover, click, etc.) (Create the trigger)
- What are the properties that will be animated? (color, width, height, etc.) (Decide the properties)
- How will be the behavior of the animation? (duration, timing function, delay, etc.) (Decide the behavior)

*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    padding: 1rem;
  }

  .rocket {
    font-size: 100px;
    width: 140px;
    transition: rotate 0.5s linear, margin-left 1.2s linear 0.5s;
  }
}

.container:hover .rocket {
  margin-left: 90%;
  rotate: 45deg;
}
